<h1>Agents</h1><br><br>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Company Name</th>
                
                
                <th>Email</th>
                <th>group-id</th>
                <th>phonenumber</th>
                <th>delete</th>
                

            </tr>
        </thead>



           <tbody>
             <tr *ngFor="let agent of agents[0]">
                <td>{{agent.companyname}}</td>
                <td>{{agent.email}}</td>
                <td>{{agent.groupid}}</td>
                <td>{{agent.phonenumber}}</td>
              
                
                <td><button class="btn btn-primary" (click)="delete(agent.id)">Delete</button></td>
               
            </tr> 
        </tbody> 
    </table>
</div>

