<h1>Tickets</h1>
<div id="layoutSidenav">
   
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Requester Name</th>
                    <th>cc_mails</th>
                    <th>Priority</th>
                    <th>Subject</th>
                    <th>type</th>
                    <th>ResponderName</th>
                    <th>Email</th>
                    <th>Solution</th>
                    <th>Enter Solution</th>
                    <th>Add Solution</th>

                </tr>
            </thead>



            <tbody>
                <tr *ngFor="let ticket of tickets[0]">
                    <td>{{ticket.requestername}}</td>
                    <td>{{ticket.cc_mails}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.subject}}</td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.resppondername}}</td>
                    <td>{{ticket.email}}</td>
                    <td>{{ticket.solution}}</td>
                   <td> <div class="form-group">
                    <button class="btn btn-primary" (click)="open(content)">Enter solution</button><br><br>
                    </div>
                </td>
                    <td><button class="btn btn-primary" (click)="provideSolution(ticket.id)">Add Solution</button></td>
                </tr>
            </tbody>
        </table>
        <ng-template #content let-modal>

            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Solution to this ticket</h4>

                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myform">
                   
                      <div class="form-group">
                        <label for="formGroupExampleInput2">Solution</label>
                        <input type="text" formControlName="solution"  class="form-control"  placeholder="Enter Your Solution Here">
                      </div>
                    
                  </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"
                    (click)="modal.close('Save click')">Save</button>
                    
            </div>

        </ng-template>
    </div>
